<nav>
    <div class="site-title">
        <a href="/"><h1>ePonger</h1></a>
        <p>Player Rating Software</p>
    </div>
    <ul>
        <li><a href="/">ePonger</a></li>
        <li><a href="/addPlayer">New Player</a></li>
        <li><a href="/players">Player list</a></li>
    </ul>
</nav>