<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
        <%- include('./partials/nav.ejs') %> 
    <div class="not-found content">
       <p><%= error %></p> 
    </div>
</body>
</html>